<footer class=" mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
  <div class="border-t border-slate-900/5 dark:border-gray-100/10 py-4 mx-auto">

    <% if !is_unsubscribe_page? %>
    <div class=" mb-4 w-full inline-flex justify-center">
      <a href="#home" data-controller="scroll-to" data-scroll-to-offset-value="100" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none  rounded-lg text-sm p-2.5">
        <%= icon('fa-solid','arrow-up', class:"px-2") %>
      </a>
    </div>
    <%end%>

    <div class="">
      <%= image_tag('favicon.ico', class:"mx-auto h-5 w-auto") %>
      <div class="text-center text-lg font-semibold whitespace-nowrap text-slate-500" > <%= t('views.app.title') %> </div>
    </div>

    <div class="mt-5 text-sm leading-6 text-slate-500">
      <div class="md:flex   justify-center">
        <p class="text-center">© <%= t('views.site.footer.year') %> <%= t('views.app.name') %>. </p>
        <p class="text-center"> <%= t('views.site.footer.rights') %>.</p>
      </div>
      <p class="text-center"><%= t('views.site.footer.developed_by') %>
        <%= link_to t('views.app.github'), class:"font-semibold text-gray-900  md:hover:text-blue-700  dark:text-white md:dark:hover:text-blue-500 dark:hover:text-white " do %>
          <%= icon('fa-brands', 'github') %> <%= t('views.app.developer') %>
        <% end %>
      </p>
    </div>
  </div>

</footer>
