<nav class="bg-white border-gray-200 dark:bg-gray-900 sticky top-0 z-30 shadow-lg dark:shadow-blue-800/50 ">
  <div class="max-w-screen-xl flex flex-wrap sm:flex-nowrap items-center justify-between mx-auto py-3 px-4">

    <div class="">
      <% if !is_unsubscribe_page? %>
        <a href="#home" data-controller="scroll-to" data-scroll-to-offset-value="100" class="inline-flex align-bottom">
          <%= image_tag('favicon.ico', class: 'h-8 w-fit mr-3', alt: 'Logo') %>
          <div class="self-center font-semibold whitespace-nowrap dark:text-white text-end md:hidden lg:flex"> <%= t('views.app.title') %></div>
        </a>
      <%else%>
        <a href="<%= root_path %>" class="inline-flex align-bottom">
          <%= image_tag('favicon.ico', class: 'h-8 w-fit mr-3', alt: 'Logo') %>
          <div class="self-center font-semibold whitespace-nowrap dark:text-white text-end md:hidden lg:flex"> <%= t('views.app.title') %></div>
        </a>
      <%end%>
    </div>

    <%=  %>

    <%# RIGHT SIDE %>
    <div class="flex items-center space-x-4 md:space-x-0 md:order-2">

      <%# THEME SWITCHER %>
      <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none  rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
      </button>

      <%# LANGUAGE SWITCHER %>
      <button type="button" data-dropdown-toggle="language-dropdown-menu" class="block p-2 rounded-lg text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
        <%= image_tag("i18n/#{I18n.locale.downcase}.svg", :alt => "#{I18n.locale}", class:"w-6 m-0.5") %>
      </button>

      <!-- Dropdown -->
      <div class="hidden text-base list-none bg-white divide-gray-100 rounded-lg dark:bg-gray-700" id="language-dropdown-menu">
        <ul class="font-medium" role="none">
          <% if I18n.locale.to_s != 'en' %>
            <li>
              <%= form_with(url: toogle_locale_path(locale: :en), method: :post, class: "block") do |form| %>
                <%= form.button class: "block p-2.5 rounded-lg text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" do %>
                  <%= image_tag("i18n/en.svg", alt: "en", class: "w-6 m-0.5") %>
                <% end %>
              <% end %>
            </li>
          <% end %>

          <% if I18n.locale.to_s != 'pt-BR' %>
            <li>
              <%= form_with(url: toogle_locale_path(locale: :'pt-BR'), method: :post, class: "block") do |form| %>
                <%= form.button class: "block p-2.5 rounded-lg text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" do %>
                  <%= image_tag("i18n/pt-br.svg", alt: "pt-br", class: "w-6 m-0.5") %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if !is_unsubscribe_page? %>
        <%# COLAPSSE BTN %>
        <button data-collapse-toggle="navbar-language" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-language" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      <%end%>

    </div>

    <% if !is_unsubscribe_page? %>
      <div class="items-center justify-center hidden  md:flex md:order-1" id="navbar-language" >
        <ul class="grid grid-rows-4 grid-flow-col mt-4 md:mt-0  md:grid-rows-1  lg:space-x-2  ">
          <li>
            <a href="#home" data-controller="scroll-to" data-navigation-target='home_link' data-scroll-to-offset-value="0" class="nav-link "> <%= t('views.site.navbar.home') %></a>
          </li>
          <li>
            <a href="#about" data-controller="scroll-to" data-navigation-target='about_link' data-scroll-to-offset-value="55" class="nav-link"><%= t('views.site.navbar.about') %></a>
          </li>
          <li>
            <a href="#services" data-controller="scroll-to" data-navigation-target='services_link' data-scroll-to-offset-value="110" class="nav-link"><%= t('views.site.navbar.services') %></a>
          </li>
          <li>
            <a href="#faq" data-controller="scroll-to" data-navigation-target='faq_link' data-scroll-to-offset-value="110" class="nav-link"><%= t('views.site.navbar.faq') %></a>
          </li>
          <li>
            <a href="#updates" data-controller="scroll-to" data-navigation-target='updates_link' data-scroll-to-offset-value="110" class="nav-link"><%= t('views.site.navbar.updates') %></a>
          </li>
          <li>
            <a href="#pricing" data-controller="scroll-to" data-navigation-target='pricing_link' data-scroll-to-offset-value="110" class="nav-link"><%= t('views.site.navbar.pricing') %></a>
          </li>
          <li>
            <a href="#contact" data-controller="scroll-to" data-navigation-target='contact_link' data-scroll-to-offset-value="110" class="nav-link"><%= t('views.site.navbar.contact') %></a>
          </li>
        </ul>
      </div>
    <% end %>

  </div>
</nav>
